.1_2 { 
	overflow:hidden;
}.e1_2 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:1436px;
	height:1257px;
	position:absolute;
}.e8_5 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	transform: rotate(0.27348149074525135deg);
	background-color:rgba(50.000000819563866, 50.000000819563866, 50.000000819563866, 1);
	width:1465.876220703125px;
	height:30.054540634155273px;
	position:absolute;
	left:-14.8565673828125px;
	top:221px;
}.8_5 { 
	border:1px solid rgba(0, 0, 0, 1);
}.e8_7 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:63px;
	height:26px;
	position:absolute;
	left:113px;
	top:220px;
	font-family:Jacques Francois;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e16_3 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:230px;
	height:26px;
	position:absolute;
	left:581px;
	top:224px;
	font-family:Jacques Francois;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e16_4 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:214px;
	height:21px;
	position:absolute;
	left:896px;
	top:227px;
	font-family:Jacques Francois;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e16_7 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:182px;
	height:30px;
	position:absolute;
	left:271px;
	top:225px;
	font-family:Jacques Francois;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e16_6 { 
	width:863px;
	height:983px;
	position:absolute;
	left:530px;
	top:274px;
	background-image:url(images/foto_de_modelo_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16_11 { 
	width:379px;
	height:353px;
	position:absolute;
	left:506px;
	top:-42px;
	background-image:url(images/victoria_removebg_preview_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e16_12 { 
	color:rgba(50.000000819563866, 50.000000819563866, 50.000000819563866, 1);
	width:531px;
	height:328px;
	position:absolute;
	left:0px;
	top:311px;
	font-family:Bonheur Royale;
	text-align:center;
	font-size:64px;
	letter-spacing:0;
}.e16_15 { 
	color:rgba(0, 0, 0, 1);
	width:615px;
	height:70px;
	position:absolute;
	left:-73px;
	top:1149px;
	font-family:Charm;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e16_14 { 
	color:rgba(50.000000819563866, 50.000000819563866, 50.000000819563866, 1);
	width:469px;
	height:323px;
	position:absolute;
	left:37px;
	top:317px;
	font-family:Charm;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}.e19_17 { 
	background-color:rgba(50.000000819563866, 50.000000819563866, 50.000000819563866, 1);
	width:249px;
	height:68px;
	position:absolute;
	left:124px;
	top:681px;
}.e47_5 { 
	background-color:rgba(50.000000819563866, 50.000000819563866, 50.000000819563866, 1);
	width:249px;
	height:68px;
	position:absolute;
	left:124px;
	top:814px;
}.e19_18 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:201px;
	height:42px;
	position:absolute;
	left:148px;
	top:698px;
	font-family:Jacques Francois;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e47_8 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:201px;
	height:42px;
	position:absolute;
	left:148px;
	top:698px;
	font-family:Jacques Francois;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e47_6 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:201px;
	height:42px;
	position:absolute;
	left:148px;
	top:833px;
	font-family:Jacques Francois;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e47_39 { 
	color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:214px;
	height:21px;
	position:absolute;
	left:1179px;
	top:225px;
	font-family:Jacques Francois;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}